/*
================================================================================
GENERALES
================================================================================
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

/* FUENTES */
/*
================================================================================
Fuente de los parrafos
================================================================================
*/
@font-face {
  font-family: 'Poppins';
  src: url(../fuentes/Poppins/Poppins-Regular.ttf);
}

/*
================================================================================
Fuente de los titulos 
================================================================================
*/
@font-face {
  font-family: 'Satoshi';
  src: url(../fuentes/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
}

:root {
  --fuente-parrafos: 'Poppins', sans-serif;
  --fuente-titulos: 'Satoshi', sans-serif;
  --verde-bosque: #06231a;
  --verde-pino: #0b3a29;
  --verde-selva: #0f5339;
  --verde-hoja: #146d49;
  --verde-esmeralda: #1b8a63;
  --verde-jade: #34e0a1;
  --verde-menta: #63e7b7;
  --verde-agua: #8fefcb;
  --verde-pastel: #b8f6de;
  --verde-hielo: #ddfcf0;
  --verde-nieve: #f3fefa;
  --negro: #0C0B0B;
  --gris: #6B6B6B;
  --blanco: #ffffff;
  --glow-color: var(--verde-jade);
  --glow-size: 150px;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 0;
}

footer {
  scroll-snap-align: end;
  /* hace que el scroll se detenga en el footer */
  scroll-snap-stop: always;
  /* opcional: asegura frenar ahí */
  padding: 40px 0 20px;
  background: #222;
  color: #fff;
}

/* Ocultar scrollbar en webkit */
::-webkit-scrollbar {
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.h2 {
  font-family: var(--fuente-titulos);
  font-size: 60px;
}

.h3 {
  font-family: var(--fuente-titulos);
}

.h4 {
  font-family: var(--fuente-titulos);
}

.h1 {
  font-family: var(--fuente-titulos);
}

.p {
  font-family: var(--fuente-parrafos);
}

/*PANTALLAS GRANDES*/
/*================================================
  MENU
  ==================================================*/
.menuNavegacion {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999999;
  padding: 15px 0;
}

.menuInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.contendorNav {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

/* NAV LINKS CON EFECTO DEL FOOTER */
.nav-link {
  font-family: var(--fuente-parrafos);
  font-size: 20px;
  color: var(--verde-hielo);
  transition: 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
}

/* Subrayado pastel igual al footer */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--verde-jade);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: var(--verde-menta);
}

.nav-link:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
}

/*
================================================================================
FOOTER
================================================================================
*/
.footer {
  background: linear-gradient(135deg, var(--verde-bosque), var(--verde-pino));
  padding: 60px 20px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-logo svg {
  width: 120px;
  height: auto;
  filter: drop-shadow(0px 0px 8px rgba(99, 231, 183, 0.25));
  transition: transform 0.3s ease;
}

.footer-logo svg:hover {
  transform: scale(1.05);
}

/* MENU */
.footer-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding: 0;
  margin: 0;
}

.footer-menu li a {
  font-family: var(--fuente-parrafos);
  color: var(--verde-hielo);
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease;
  position: relative;
}

/* Subrayado pastel */
.footer-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--verde-jade);
  transition: width 0.3s ease;
}

.footer-menu li a:hover {
  color: var(--verde-menta);
}

.footer-menu li a:hover::after {
  width: 100%;
}

/* COPYRIGHT */
.footer-copy {
  margin-top: 40px;
  text-align: center;
  font-family: var(--fuente-parrafos);
  color: var(--verde-nieve);
  opacity: 0.8;
  font-size: 15px;
}

/*
================================================================================
BAnner
================================================================================
*/
.banner {
  background: url(../img/FondoBanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.textosImagen {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px;
  height: 100dvh;
}

.imagenBanner {
  height: 590px;
}

.imagenBanners {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.textos {
  width: 75%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagenBanner {
  width: 550px;
}

.h1Banner {
  font-size: 70px;
  color: var(--verde-hielo);
}

/* === TÍTULO PRINCIPAL === */
#typewriter {
  color: var(--verde-menta);
  transition: opacity 0.7s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--fuente-titulos);
  font-size: 70px;
}

.pBanner {
  color: var(--verde-hielo);
  font-size: 20px;
  padding: 20px 0;
}

.botonesBAnner {
  width: 150px;
}








/* 
================================================================================
SOBRE MI
================================================================================
*/
.h2SobreMi {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  color: var(--verde-jade);
  padding-top: 100px;
}

.sobreMi {
  background-color: var(--verde-pino);
}

.infomacionSobreMi {
  display: flex;
  justify-content: space-between;
}

.imagenSobreMI img {
  width: 600px;
}

.textos {
  width: 50%;
}

.sepradorBtn {
  margin-bottom: 20px;
}

.parrafoSobre {
  color: var(--verde-hielo);
  font-size: 1.2rem;
  padding: 10px 0;
}

/*
================================================================================
EDUCACION
================================================================================
/*
CARD EDUCACION
*/
.timeline-item.left {
  left: -380px;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item .content {
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  max-width: 750px;
}

.timeline-item .content {
  transition: transform 0.3s ease-out;
}

.timeline-item.right::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 0%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--verde-menta);
  border: 4px solid var(--verde-hielo);
  border-radius: 50%;
  z-index: 2;
}

.timeline-item.left::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 100%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--verde-menta);
  border: 4px solid var(--verde-hielo);
  border-radius: 50%;
  z-index: 2;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--verde-hielo);
}

.timeline-item {
  position: relative;
  max-width: 800px;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  will-change: opacity, transform;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item.left.visible {
  transition-delay: 0.2s;
}

.timeline-item.right.visible {
  transition-delay: 0.4s;
}

.timeline-item.visible .content {
  transform: translateY(-10px);
  transition: transform 0.6s ease-out;
}

/*
TEXTOS 
*/
.h2Eduacion {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  color: var(--verde-jade);
  padding-top: 100px;
}

.lugarEducacion {
  color: var(--verde-nieve);
  font-family: var(--fuente-parrafos);
  font-size: 16px;
}

.h3Educacion {
  color: var(--verde-hielo);
  font-size: 30px;
}

.timeline-item h4 {
  margin: 5px 0;
  font-size: 16px;
  color: var(--verde-hielo);
  font-family: var(--fuente-parrafos);
}

.timeline-item p {
  color: var(--verde-nieve);
  font-family: var(--fuente-parrafos);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeline-item .year {
  color: rgba(52, 224, 161, 0.40);
  text-align: right;
  font-family: var(--fuente-titulos);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*
GENERALES DE LA SECCION
*/
.educacionSection {
  background-color: var(--verde-bosque);
  padding: 60px 0;
}

.desaparecerEscritorio {
  display: none;
}



/*
================================================================================
HABILIDADES
================================================================================
*/
.habilidades {
  background: linear-gradient(135deg,
      rgba(6, 35, 26, 0.85),
      /* verde bosque */
      rgba(11, 58, 41, 0.85)
      /* verde pino */
    ),
    url(../img/pexels-harold-vasquez-853421-2653362.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Circulo del porcentaje */
.porcentaje {
  background-color: rgba(99, 231, 183, 0.45);
  /* verde menta suave */
  position: absolute;
  bottom: -40px;
  left: 70px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/* Glow pastel */
.glowing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.glowing-card {
  position: relative;
  display: flex;
  width: 453px;
  height: 437px;
  padding: 40px 15px 40px 15px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: var(--verde-nieve);
  transition: 0.3s ease;
}

.glowing-card:hover {
  border: none;
}

/* Capa de glow dinámico */
.glowing-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: radial-gradient(var(--glow-size) circle at var(--x, 50%) var(--y, 50%),
      var(--glow-color),
      transparent 70%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}

.glowing-card:hover::before {
  opacity: 1;
}

/* icono/imagen */
.imgPorcentaje {
  position: relative;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}



.imgLogoH {
  width: 120px;
  height: 120px;
}

/*
TEXTOS
*/
/* Títulos */
.h3Habilidades {
  color: var(--verde-hielo);
  /* antes azul-50 */
  font-size: 40px;
  text-align: center;
}

.porcentajeNumero {
  font-size: 20px;
  font-weight: bold;
  color: var(--verde-hielo);
  font-family: var(--fuente-titulos);
}

.phabilidades {
  font-family: var(--fuente-parrafos);
  font-size: 18px;
  text-align: center;
  color: var(--verde-nieve);
}

.h3SubHabilidades {
  color: var(--verde-hielo);
  font-size: 40px;
  padding: 40px 0;
  text-align: center;
}

.h2habilidades {
  text-align: center;
  color: var(--verde-jade);
  /* antes azul-600 */
  font-size: 50px;
  padding-top: 100px;
}


/*
================================================================================
Experiencia
================================================================================
*/
.experiencia {
  width: 100%;
  background: var(--verde-bosque);
  padding-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experienciasContenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*
BLOQUES PARA CADA EXPERIENCIA
*/
.experienciaIndividual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.25rem;
  background-color: var(--verde-selva);
}

.prueba {
  width: 42.563rem;
  display: flex;
  justify-content: flex-end;
}

.textosExperiencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 30px 30px 70px;
  width: 32.563rem;
  height: auto;
}

.fechaExperiencia {
  width: 199px;
  height: 98px;
  flex-shrink: 0;
  position: absolute;
  left: -130px;
  top: 30%;

}

/*
TEXTOS DE EXPERINCIA
*/
.fechaMesexperincia {
  color: var(--verde-agua);
  font-family: var(--fuente-parrafos);
  font-size: 1.2rem;
}

.pFechaExperiencia {
  color: var(--verde-agua);
  font-family: var(--fuente-titulos);
  font-size: 4rem;
}

.h2Experiencia {
  color: var(--verde-menta);
  text-align: center;
  padding: 140px 0 100px;
}

.h3Experiencia {
  font-size: 1.88rem;
  color: var(--verde-hielo);
}

.pExperienciaDescripcion {
  color: var(--verde-nieve);
  font-size: 1.2rem;
  line-height: 1.4;
}


/*
================================================================================
Proyecto
================================================================================
*/
.Proyectos {
  background-color: var(--verde-selva);
  padding: 0px 0px 160px;
}

.stack-contenedor {
  position: relative;
  height: 500vh;
  width: 100%;
}

/*
CARD DE LOS PROYECTOS
*/
.card {
  position: sticky;
  top: 80px;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.20),
      rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(18px) saturate(160%);
  -webkit-backdrop-filter: blur(18px) saturate(160%);
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
  opacity: 0;
  transform: translateY(50px);
  height: 34.375rem;
}

.card:nth-child(2) {
  top: 150px;
}

.card:nth-child(3) {
  top: 220px;
}

.card:nth-child(4) {
  top: 290px;
}

.headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagenProyecto {
  display: flex;
  justify-content: space-between;
}

.imagenesProyectosIndividual {
  width: 100%;
}

.antes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
}

.despues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
}

/*
TEXTOS
*/
.tituloProyectos h2 {
  color: var(--verde-jade);
  text-align: center;
  padding: 160px 0 100px;
}

.tituloProyecto {
  font-size: 1.57rem;
  color: var(--verde-hielo);
}

.pProyectos {
  color: var(--verde-hielo);
  font-family: var(--fuente-parrafos);
  font-size: 1.2rem;
  padding: 20px 0;
}

.titulosImagenes {
  font-size: 20px;
  padding: 0px 0px 20px;
  color: var(--verde-hielo);
}

.card h2 {
  margin: 0 0 10px;
  font-size: 1.8rem;
  color: var(--verde-bosque);
  background: var(--verde-pastel);
  padding: 5px;
  border-radius: 5px;
}

/*
BOTON DE LOS PROYECTOS
*/
.btn-glow {
  padding: 12px 26px;
  border-radius: 14px;
  background: var(--verde-menta);
  color: var(--verde-bosque);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: var(--fuente-parrafos);
}

.btn-glow:hover {
  box-shadow: 0 0 20px rgba(99, 231, 183, 0.6);
  background: var(--verde-jade);
  transform: translateY(-4px);
}

/*==========================================================
CONTACTO
=============================================================*/
.Contacto {
  background-color: var(--verde-pino);
}

.contact-container {
  display: flex;
  gap: 0;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 180px;
}

.informacionCotacto {
  display: flex;
  align-items: center;
}

/* --- TARJETA AZUL --- */
.contact-card {
  width: 360px;
  background: var(--verde-menta);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.contact-card h2 {
  color: var(--negro);
  font-size: 30px;
  margin-bottom: 25px;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}

.icon {
  font-size: 18px;
}

.info-row p {
  color: var(--negro);
  font-size: 14px;
  margin: 0;
}

/* --- FORMULARIO VIOLETA --- */
.contact-form {
  width: 650px;
  background: var(--verde-hoja);
  padding: 45px 50px;
  border-radius: 8px;
  margin-left: -40px;
  /* para superponer */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.contact-form h2 {
  text-align: center;
  font-size: 32px;
  color: #000;
  margin-bottom: 25px;
}

.contact-form label {
  font-size: 1.2rem;
  color: var(--verde-hielo);
  margin-bottom: 5px;
  display: block;
}

/* Inputs y textarea con efecto vidrio */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.12);
  /* Transparencia suave */
  backdrop-filter: blur(12px);
  /* Efecto vidrio */
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

  margin-bottom: 20px;
  color: #fff;
  /* Texto blanco funciona mejor en vidrio */
}

/* Color del placeholder */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--verde-hielo);
  opacity: 0.8;
  font-size: 1.2rem;
}

/* textarea ajustes */
.contact-form textarea {
  height: 80px;
  resize: none;
}

/* Efecto vidrio al hacer focus */
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;

  background: rgba(255, 255, 255, 0.18);
  /* Un poco más claro al focus */
  border: 1px solid var(--verde-hielo);
  /* Borde brillante */
  box-shadow: 0 0 15px rgba(0, 255, 200, 0.4);
  /* Glow suave estilo vidrio */

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  transition: 0.25s ease-in-out;
  font-family: var(--fuente-parrafos);
  font-size: 1rem;
}

.contact-form button {
  display: block;
  margin: 0 auto;
}

/* ======== 5. Laptops grandes (1281px – 1536px) ======== */
@media (max-width: 1536px) {
  .timeline::before {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 40px;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    text-align: left;
  }

  .timeline-item .content {
    max-width: 90%;
    margin-left: 30px;
  }

  .timeline-item .year {
    margin-left: 30px;
  }

  .desaparecerTablet {
    display: none;
  }

  .desaparecerEscritorio {
    display: flex;
  }
}

/* ======== 4. Tablets horizontal o pantallas medianas (1025px – 1280px) ======== */
@media (max-width: 1280px) {
  /* Ajustes para laptops pequeñas */
}

/* ======== 3. Tablets vertical (768px – 1024px) ======== */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .textosImagen {
    height: auto;
    padding-top: 150px;
    flex-direction: column;
  }

  .imagenBanner {
    width: 400px;
    height: 400px;
  }

  .imagenBanner {
    height: 400px;
    height: 400px;
  }

  .imagenBanners {
    justify-content: center;
    align-items: center;
  }

  /* CONTENEDOR DEL MENÚ - DESDE ARRIBA */
  .contendorNav {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 0;
    /* altura inicial */
    overflow: hidden;
    background: #000;
    flex-direction: column;
    transition: height 0.4s ease-in-out;
    z-index: 1000;
    padding: 0 5px;
    /* poner padding horizontal solamente */
  }

  .infomacionSobreMi {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .textos {
    width: 100%;
    text-align: center;
  }

  .contendorNav.active {
    height: auto;
    /* el menú toma su altura natural */
    padding: 25px 5px;
    /* padding vertical solo cuando está activo */
  }

  /* Estado activo - se despliega hacia abajo */
  .contendorNav.active {
    max-height: 400px;
    /* Ajusta según la cantidad de links */
  }

  /* LINKS */
  .nav-link {
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }

  .contendorNav li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-link:hover {
    background: #222;
  }

  /* BOTÓN MENÚ ICONO */
  .menu-toggle {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    /* Tamaño del icono */
    color: #fff;
    z-index: 1100;
    /* Por encima del menú */
    margin: 0px 20px 0px 15px;
  }

  .menu-toggle i {
    font-size: 28px;
    /* tamaño de la hamburguesa */
    transition: font-size 0.3s ease, color 0.3s ease;
  }

  /* Cuando esté activo (X) */
  .menu-toggle.active i {
    font-size: 36px;
    /* más grande que la hamburguesa */
  }

  /* OPCIONAL: cambiar color al pasar el mouse */
  .menu-toggle:hover {
    color: #34e0a1;
  }

  .textos {
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .informacionCotacto {
    flex-direction: column;
  }
  .contact-form{
    margin: 0 auto;
  }
  .contact-card{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .info-row{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-row p {
      color: var(--negro);
      font-size: 14px;
      margin: 0 auto;
  }
}

/* ======== 2. Teléfonos estándar (481px – 767px) ======== */
/* RESPONSIVE */
@media (max-width: 768px) {

  .textosImagen {
    height: auto;
    padding-top: 150px;
  }

  .textos {
    align-items: center;
  }

  .h1 {
    font-size: 40px;
    text-align: center;
  }

  #typewriter {
    font-size: 40px;
    text-align: center;
  }

  .pBanner {
    font-size: 18px;
    text-align: center;
  }

  .imagenBanner {
    width: 300px;
    height: 300px;
  }

  .imagenBanner {
    height: 300px;
    height: 300px;
  }

  .imagenBanners {
    justify-content: center;
    align-items: center;
  }




  .infomacionSobreMi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .year {
    width: 65%;

  }

  .timeline-item .year {
    text-align: start;
    margin: 0;
  }

  .timeline-item {
    flex-direction: column;
    justify-content: start;
  }

  .prueba {
    width: 100%;
    justify-content: center;
  }

  .parrafoSobre {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .sobreMi a {
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }

  html,
  body {
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    /* opcional */
  }

  /* Secciones normales */
  section {
    min-height: auto;
    /* o pon altura si quieres, pero no obligatoria */
    padding: 50px 0;
    display: block;
    /* layout estándar */
  }

  /* Footer normal */
  footer {
    padding: 40px 0 20px;
    background: #222;
    color: #fff;
  }

  .container {
    width: 95%;
  }

  /* Ocultar scrollbar en webkit (opcional) */
  ::-webkit-scrollbar {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-menu {
    justify-content: center;
  }

  .textosImagen {
    flex-direction: column;
  }

  .textos {
    width: 100%;
  }
  .headerCard{
    flex-direction: column;
    gap: 25px;
  }
  .experienciaIndividual{
    flex-direction: column;
  }
  .prueba{
    height: auto;
  }
    .fechaExperiencia{
      position: initial;
      width: 100%;
      height: auto;
      text-align: center;
    }
    .textosExperiencia{
      padding: 30px 20px;
      text-align: center;
    }
    .h3Experiencia{
      text-align: center;
      width: 100%;
    }
}

/* ======== 1. Teléfonos pequeños (320px – 480px) ======== */
@media (max-width: 600px) {
  /* Estilos para pantallas muy pequeñas */
  .contact-form{
    width: 100%;
  }
  .imagenSobreMI img{
    width: 90%;
  }
  .imagenSobreMI{
    display: flex;
    justify-content: center;
  }
  .experienciaIndividual{
    width: 90%;
  }
  .textosExperiencia{
    width: 100%;
  }
}